
header {
    height: 50px;
    width: 960px;
    margin: 5px;
    padding: 0;

}

.logo {
    float: left;
    font-size: 100%;
    background-color: #4aaaa5;
    height: 100px;
    width: 200px;

    }

nav {
    float: right;
    position: relative;
    background-color: azure;
    }

nav li a {
    display: inline;
    
}

.clearfix::after {
    content: "";
    clear: both;
}

body {
    width: 960px;
    padding: 5px;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    background: white;
}

.wrapper {

}

h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 36px;
    margin: 5px;
}

img {
    height: 400px;
    width:  300px;
    float: left;
    margin: 5px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }

  #name {
    display: block;
}

#email {
    display: block;

}

#message {
    display: block;
}
form {
    float: left;
}


