
header {
    height: 50px;
    width: 960px;
    margin: 5px;
    padding: 0;

}

.logo {
    float: left;
    font-size: 48px;
    background-color: #4aaaa5;
    height: 50px;
    width: 200px;
    text-decoration: none;

    }

#logoname {

    text-decoration: none;
} 

a {
    margin: 25px;
    text-decoration: none;
}
.navbar {
    float: right;

}

.clearfix::after {
    content: "";
    clear: both;
}

body {
    width: 960px;
    padding: 5px;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    background: white;
}

h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 36px;
    margin: 5px;
}

img {
    height: 300px;
    width:  250px;
    float: left;
    margin: 5px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }

  #name {
    display: block;
}

#email {
    display: block;

}

#message {
    display: block;
    grid-area: span;
}
form {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: ;
    display: inline;
}

