
header {
    height: 50px;
    width: 960px;
    margin: 5px;
    padding: 0;

}

.logo {
    float: left;
    background-color: #4aaaa5;

    }

nav {
    float: right;
}

body {
    width: 960px;
    padding: 0%;
    margin: 0%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: #eff3eb;
    background: white;
}

.wrapper {

}

h1 {
    color: #4aaaa5
}

img {
    height: 400px;
    width:  300px;
}

p {

}


